# We first ignore all .i7x files so that we can simply copy our I7 extensions
# directory into the repository.
*.i7x

# But extensions we want to include are listed here, prefixed with !
!Dannii Willis/*.i7x
!Emily Short/Menus.i7x

Reserved